#profile_modal.modal
 .container1
  .modal-dialog
  .modal-content
   %h4#SignInModal.title My Profile
   %img {src="/assets/riff_logo.png" height="45" width= "45"}
   .modal-header
    .footer
     .form-actions
      %button Update Status